<body>
  <div class="bodyLargeContainer" id="characterCard">
    <div class="header">
      <button
        class="textButton"
        type="button"
        id="return"
        hx-get="permissions.html"
        hx-target="#characterCard"
        hx-swap="outerHTML"
        hx-trigger="click"
      >
        Return
      </button>
      <h1 class="modalHeaderContainer" id="modalHeaderCopy"></h1>
    </div>
    <div class="characterCardContainer" id="characterCardContainer">
      <div class="characterCardName" id="characterCardName"></div>
      <div class="characterDetailsContainer" id="characterDetailsContainer">
        <div class="characterDetails" id="skillDetails">
          <div class="label">Skills</div>
          <div class="rowDivider"></div>
          <div class="valueContainer" id="skills">
            <!-- <div class="value">likes</div>
            <div class="value">comment</div> -->
          </div>
        </div>
        <div class="columnDivider"></div>
        <div class="characterDetails" id="identifierDetails">
          <div class="label">IDENTIFIER:</div>
          <div class="rowDivider"></div>
          <div class="characterIdentifer" id="characterIdentifer"></div>
        </div>
        <div class="columnDivider"></div>
        <div class="characterDetails">
          <div class="label">MEMBERS</div>
          <div class="rowDivider"></div>
          <div class="membersContainer" id="membersDetails"></div>
        </div>
      </div>
    </div>
    <div class="stackedButtonsContainer">
      <button
        class="filledButton"
        id="editCharacter"
        hx-get="characterCreator.html"
        hx-target="#characterCard"
        hx-swap="outerHTML"
        hx-trigger="click"
      >
        EDIT CHARACTER
      </button>
      <button class="textButton" id="changeDefaultCharacter">
        MAKE DEFAULT CHARACTER
      </button>
    </div>
  </div>
</body>
