<html>
  <head>
    <style>
      
    </style>
    <title>Old Desktop</title>
    <link rel="stylesheet" href="static/windowcil-98/style.css" />
    <link rel="stylesheet" href="https://mycorna.com/static/css/cornaCore.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <!-- <text>Username goes here</text> -->
      <text> {{ title }} </text>
      <div class="nav-icon-container">
        <img src="./static/windowcil-98/images/bug-fill.svg" alt="Minimize" class="nav-icon" />
        <img src="./static/windowcil-98/images/bug-outline.svg" alt="Close" class="nav-icon" />
      </div>
    </nav>

    <!-- homepage -->
    <main class="grid-container">
      {% for post in PostList %}
      <div id="{{ post.href }}" class="post-container uuid_{{ post.uuid }}">
        {% if post.type == "text" %}
        <img
          id="{{ post.href }}"
          src="./static/windowcil-98/images/Text.png"
          alt="text post"
          class="post-icon clickable-text-element"
        />
          {% if post.title %}
          <p id="{{ post.href }}" class="clickable-text-element">
          {{ post.title }}</p>
          {% endif%}
        {% elif post.type == "picture" %}
        <img
          src="./static/windowcil-98/images/Picture.png"
          alt="picture post"
          class="post-icon clickable-picture-element"
        />
        {% elif post.type == "video" %}
        <img
          src="./static/windowcil-98/images/video.png"
          alt="video post"
          class="post-icon clickable-picture-element"
        />
          {% if post.title %}
          <p class="clickable-picture-element">{{ post.title }}</p>
          {% endif %}
        {% endif %}
      </div>

      {% endfor %}
      </main>

    {% for post in PostList %}
    <!-- ///////////////////////////// text modal //////////////////////// -->
    {% if post.type == "text" %}
    <div id="{{ post.uuid }}"class="text-modal">
      <div class="modal-header-container">
          <div class="modal-title">
              <img src = "./static/windowcil-98/images/Text.png" alt="Minimize" class="modal-icon"/>
              {% if post.title %}
              <p>{{ post.title }}</p>
              {% endif %}
          </div>
          <div class="modal-navigation">
              <p class="modal-nav-minimise-icon">__</p>
              <p class="modal-nav-close-icon closeTextModalIcon" id="closeTextModalIcon" alt="close">&times;</p>
          </div>
      </div>
      <div class="modal-text-content-container">
          <div class="article">
          <div class="text-image-container">
            {% if post.images | length > 0 %}
            <img src="{{ post.images[0] }}" class="text-banner">
            {% else %}
            <img src="./static/windowcil-98/images/Dummyimage.jpg" class="text-banner">
            {% endif %}
          </div>
          {{ post.content }}
      </div>
    </div>
  </div>
  {% endif %}


    <!-- /////////////////////////// picture modal ///////////////////// -->
    {% if post.type == "picture" %}
    <div id="{{ post.uuid }}" class="picture-modal">
      <div class="modal-header-container">
  <div class="modal-title">
      <img src = "./static/windowcil-98/images/Inverted-picture.png" alt="Minimize" class="modal-icon"/>
      {% if post.title %}
      <p>{{ post.title }}</p>
      {% endif %}
  </div>
  <div class="modal-navigation">
      <p class="modal-nav-minimise-icon">__</p>
      <p class="modal-nav-close-icon closeTextModalIcon" id="closePictureModalIcon" alt="close">&times;</p>
  </div>
</div>
<div class="modal-picture-content-container">
{% for image_src in post.images %}
<img src ="{{ image_src }}" alt="main image" class="picture-container"/>
{% endfor %}
</div>
<div class="pallette">
  <div class="selectedColour">
      <div class="backgroundcolour"></div>
      <div class="pickedcolour"></div>
  </div>
  <div class="colourPallette">
      <div style="background-color: aqua; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292; width: 32px;"></div>                                                                                                                        
      <div style="background-color: darkblue; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkcyan; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                                            
      <div style="background-color: darkgoldenrod; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: orchid; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: blueviolet; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color:brown; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: chartreuse; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: chocolate; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: black; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: deeppink; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: burlywood; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color:gold; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: pink; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkslateblue; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkturquoise; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkgreen; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: rgb(173, 0, 46); box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>
  </div>
</div>
    </div>
    {% endif %}

    <!-- ////////////////////////// video post /////////////////////////// -->
    {% if post.type == "video" %}
    <div id="{{ post.uuid }}" class="picture-modal">
      <div class="modal-header-container">
  <div class="modal-title">
      <img src = "./static/windowcil-98/images/Inverted-picture.png" alt="Minimize" class="modal-icon"/>
      {% if post.title %}
      <p>{{ post.title }}</p>
      {% endif %}
  </div>
  <div class="modal-navigation">
      <p class="modal-nav-minimise-icon">__</p>
      <p class="modal-nav-close-icon closeTextModalIcon" id="closePictureModalIcon" alt="close">&times;</p>
  </div>
</div>
<div class="modal-picture-content-container">
{% for image_src in post.images %}
<video src ="{{ image_src }}" alt="main image" class="picture-container"/>
{% endfor %}
</div>
<div class="pallette">
  <div class="selectedColour">
      <div class="backgroundcolour"></div>
      <div class="pickedcolour"></div>
  </div>
  <div class="colourPallette">
      <div style="background-color: aqua; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292; width: 32px;"></div>                                                                                                                        
      <div style="background-color: darkblue; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkcyan; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                                            
      <div style="background-color: darkgoldenrod; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: orchid; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: blueviolet; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color:brown; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: chartreuse; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: chocolate; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: black; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: deeppink; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: burlywood; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color:gold; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: pink; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkslateblue; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkturquoise; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: darkgreen; box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>                                                                                                                        
      <div style="background-color: rgb(173, 0, 46); box-shadow: inset 3px 3px 0px 0px rgb(43 43 43); border-radius: 1px; border: 2px outset #929292;"></div>
  </div>
</div>
    </div>
    {% endif %}
    {% endfor %}


    <!-- ////////////////////////// folder modal /////////////////////// -->
    <div class="folder-modal">
      <div class="modal-header-container">
  <div class="modal-title">
      <img src = "./static/windowcil-98/images/Folder.png" alt="Minimize" class="modal-icon"/>
      <p>Open</p>
  </div>
  <div class="modal-navigation">
      <p class="modal-nav-minimise-icon">__</p>
      <p class="modal-nav-close-icon closeTextModalIcon" id="closeFolderModalIcon" alt="close">&times;</p>
  </div>
</div>
<div class="location-folder-container">
  <p>Look in</p>
  <div class="location-route">
      <img src = "./static/windowcil-98/images/Folder.png" alt="Folder" class="location-icon"/>
      <p>Your brain</p>
  </div>
  <div class="folder-icon-container">
  <img src = "./static/windowcil-98/images/bug-fill.svg" alt="Minimize" class="nav-icon"/>
  <img src = "./static/windowcil-98/images/bug-outline.svg" alt="Close" class="nav-icon"/>
</div>
</div>
<div class="folder-body-container">
  <div class="folder-content">
  <div class="file-container" id="clickableSVG">
          <img src = "./static/windowcil-98/images/Text.png" alt="File" class="file-icon clickable-text-element"/>
          <p class="clickable-text-element">name</p>
  </div>
  <div class="file-container">
          <img src = "./static/windowcil-98/images/Text.png" alt="File" class="file-icon clickable-text-element"/>
          <p class="clickable-text-element">Document name</p>
  </div>
  <div class="file-container">
          <img src = "./static/windowcil-98/images/Text.png" alt="File" class="file-icon clickable-text-element"/>
          <p class="clickable-text-element">Document name</p>
  </div>
  <div class="file-container">
          <img src = "./static/windowcil-98/images/Text.png" alt="File" class="file-icon clickable-text-element"/>
          <p class="clickable-text-element">Document name</p>
  </div>
      
  <div class="file-container">
          <img src = "./static/windowcil-98/images/Picture.png" alt="Picture" class="file-icon clickable-picture-element"/>
          <p class="clickable-picture-element">Picture name</p>
      </div>
      <div class="file-container">
          <img src = "./static/windowcil-98/images/Folder.png" alt="File" class="file-icon clickable-folder-element" />
          <p class="clickable-folder-element">File name</p>
      </div>
</div>
</div>
<div class="route">
      <div class="route-container">
          <p >File name</p>
          <div class="location-route">
              <p>.txt</p>
          </div>
          <button class="route-icon">Save</button>
          </div>
      <div class="route-container">
          <p>File of type</p>
          <div class="location-route">
              <p>.txt</p>
          </div>
          <button class="route-icon">Cancel</button>
      </div>
  </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./static/windowcil-98/script.js"></script>
  <script type="module" src="https://mycorna.com/static/scripts/cornaCore-es6.js"></script>
  </body>
</html>
